html,
body {
  font-family: 'Lato', sans-serif;
}

.conference-title, .section-heading {
  font-family: 'Dancing Script', cursive;
}

html,
body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #029487;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

.navigation {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 148, 135, 0.88);
  z-index: 1;
  display: none;
}

.hero-section {
  background-image: url("../../img/hero-bg.png");
  background-size: cover;
}

.hero-overlay {
  background-color: rgba(1, 47, 43, 0.72);
  height: 100%;
  width: 100%;
}

.text-quote {
  position: relative;
  color: #fff;
  font-weight: 300;
  font-size: 1.35em;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 20px;
  margin: 0 auto 80px;
  line-height: 1.45em;
  font-style: italic;
}

.text-quote i {
  font-size: 1em;
  margin-right: 4px;
}

@media screen and (max-width: 768px) {
  .text-quote {
    font-weight: 400;
  }
}

.text-quote-author {
  margin-top: 10px;
  font-weight: 300;
}

.main-title {
  margin: 80px auto 0;
  color: #fff;
  font-size: 1.35em;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .main-title {
    font-weight: 400;
  }
}

.conference-title {
  font-weight: 400;
  font-size: 2.35em;
  display: inline-block;
  border-bottom: 2px solid #fff;
  margin: 5px 0 80px;
  padding-bottom: 7px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 768px) {
  .conference-title {
    font-size: 2.15em;
  }
}

.main-details {
  color: #fff;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .main-details {
    font-weight: 400;
  }
}

.details-panel {
  font-size: 1.35em;
  margin: 0 10px;
  font-weight: 300;
}

.btn-register {
  color: #fff;
  border: 1px solid #029487;
  font-weight: 400;
  background-color: #029487;
  text-transform: uppercase;
  padding: 12px 25px;
  font-size: 1.25em;
  border-radius: 40px;
  margin-bottom: 80px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-register:hover {
  background-color: #02766b;
  text-decoration: none;
  color: #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.45);
}

.btn-submit-proposal {
  color: #fff;
  border: 1px solid #dba324;
  font-weight: 400;
  background-color: #ffc124;
  text-transform: uppercase;
  padding: 12px;
  font-size: 1em;
  border-radius: 30px;
  margin-bottom: 20px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-submit-proposal:hover {
  background-color: #ffb805;
  text-decoration: underline;
  color: #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.45);
}

.header {
  position: fixed;
  right: 3%;
  top: .5%;
  color: #fff;
  font-size: 2.5em;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.65));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.65));
  z-index: 1000;
}

.header:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    top: .2%;
  }
}

.section-wrapper,
.venue-inner {
  padding: 80px;
}

@media screen and (max-width: 768px) {
  .section-wrapper,
  .venue-inner {
    padding: 40px 20px;
  }
}

.section-heading {
  margin: 0 0 30px;
  color: #029487;
  font-size: 2.5em;
  padding-bottom: 7px;
  border-bottom: 2px solid #029487;
  display: inline-block;
  font-weight: 400;
  text-transform: capitalize;
}

.section-text {
  font-weight: 300;
  font-size: 1.15em;
  color: #343434;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .section-text {
    font-weight: 400;
  }
}

.section-green, .section-blue {
  background-color: #029487;
}

.section-green .section-heading, .section-blue .section-heading {
  border-color: #fff;
  color: #fff;
}

.section-green .section-text, .section-blue .section-text {
  color: #fff;
}

.section-blue {
  background-color: #2A69B0;
}

.event-themes-section {
  background-color: #fff;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.35);
  width: 120%;
  margin-left: -10%;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 768px) {
  .event-themes-section {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-backface-visibility: hidden;
    width: 100%;
    margin-left: 0;
  }
}

.event-themes-wrapper {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 768px) {
  .event-themes-wrapper {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-backface-visibility: hidden;
  }
}

.about-icon {
  color: #029487;
  font-size: 2em;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 400;
}

.event-themes .section-text {
  margin-bottom: 40px;
}

.speaker-image {
  border-radius: 50%;
  width: 120px;
  height: auto;
}

.speaker-name,
.speaker-details,
.talk-details {
  color: #fff;
}

.speaker-name {
  font-size: 1.15em;
  font-weight: 400;
}

.speaker-details {
  font-size: .85em;
  font-style: italic;
  line-height: 17px;
  margin-top: -5px;
}

.talk-details {
  font-weight: 300;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .talk-details {
    font-weight: 400;
    margin-bottom: 20px;
  }
}

.speaker-row,
.video-wrapper {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .speaker-row,
  .video-wrapper {
    margin-bottom: 0;
  }
}

.section-past-videos {
  background-color: #fff;
}

.section-venue {
  background-image: url("../../img/venue.jpg");
  background-size: cover;
  padding: 0;
}

.btn-book {
  margin: 40px 0 0;
}

.price-table {
  width: 100%;
  margin: 0 auto;
  font-size: 1.15em;
  border: 1px solid #029487;
}

.price-table th {
  font-weight: 400;
  padding: 10px;
  color: #fff;
}

.price-table td {
  font-weight: 300;
  padding: 10px;
}

.price-table thead {
  background-color: #029487;
  border-top: 1px solid #029487;
  border-bottom: 1px solid #029487;
}

.footer {
  background-color: #01433e;
  font-size: 1em;
  font-weight: 300;
  padding: 20px;
}

.footer a:not(.social-icon) {
  color: #fff;
  text-decoration: underline;
  margin: 0 5px;
}

.footer i {
  font-size: 1.35em;
}

.footer .copyright {
  color: #fff;
  letter-spacing: -1px;
}

@media screen and (max-width: 768px) {
  .footer .copyright {
    display: block;
    margin-top: 10px;
  }
}

iframe {
  width: 100%;
  height: 315px;
}

@media screen and (max-width: 768px) {
  iframe {
    height: 220px;
  }
}

@media screen and (max-width: 768px) {
  .hero-row {
    padding: 0 10px;
  }
}

.menu-trigger:hover,
.nav-link:hover {
  cursor: pointer;
}

.nav-list {
  padding: 0;
  margin: 10% auto 0;
  width: 100%;
  text-align: center;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .nav-list {
    margin-top: 22%;
  }
}

.nav-list li {
  margin: 0 0 30px;
}

.nav-list li a {
  color: #fff;
  font-weight: 400;
  font-size: 1.35em;
  text-transform: uppercase;
}

.quote {
  vertical-align: top;
}

.social-icon {
  margin: 0 5px;
}
